# Kibana is served by a back end server. This setting specifies the port to use.
server.port: {{ server_port }}

# Specifies the address to which the Kibana server will bind. IP addresses and host names are both valid values.
# The default is 'localhost', which usually means remote machines will not be able to connect.
# To allow connections from remote users, set this parameter to a non-loopback address.
server.host: "{{ server_host }}"

# The maximum payload size in bytes for incoming server requests.
server.maxPayload: {{ server_maxPayload }}

# The URLs of the Elasticsearch instances to use for all your queries.
elasticsearch.hosts: ["{{ elasticsearch_hosts }}"]

# The default application to load.
kibana.defaultAppId: "{{ kibana_defaultAppId }}"

# Time in milliseconds to wait for Elasticsearch to respond to pings. Defaults to the value of
# the elasticsearch.requestTimeout setting.
elasticsearch.pingTimeout: {{ elasticsearch_pingTimeout }}

# Time in milliseconds to wait for responses from the back end or Elasticsearch. This value
# must be a positive integer.
elasticsearch.requestTimeout: {{ elasticsearch_requestTimeout }}

# Time in milliseconds for Elasticsearch to wait for responses from shards. Set to 0 to disable.
elasticsearch.shardTimeout: {{ elasticsearch_shardTimeout }}

# Logs queries sent to Elasticsearch. Requires logging.verbose set to true.
elasticsearch.logQueries: {{ elasticsearch_logQueries }}

# Enables you to specify a file where Kibana stores log output.
logging.dest: {{ logging_dest }}

# Set the value of this setting to true to suppress all logging output.
logging.silent: {{ logging_silent }}

# Set the value of this setting to true to suppress all logging output other than error messages.
logging.quiet: {{ logging_quiet }}

# Set the value of this setting to true to log all events, including system usage information
# and all requests.
logging.verbose: {{ logging_verbose }}

# Set the interval in milliseconds to sample system and process performance
# metrics. Minimum is 100ms. Defaults to 5000.
ops.interval: {{ ops_interval }}

# Specifies locale to be used for all localizable strings, dates and number formats.
# Supported languages are the following: English - en , by default , Chinese - zh-CN .
i18n.locale: "{{ i18n_locale }}"
